.plans {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.plans-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid black;
    padding: 20px 40px;
    margin: auto;
    width: fit-content;
}

.plan-card {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px;
    width: 320px;
}

.navbar-buttons {
    text-decoration: none;
    color: black;
    margin: 0 1rem;
    padding: 4px;
    cursor: pointer;
    background-color: white;
    fontsize: 15px;
    border: 1px solid black;
  }

.navbar-buttons:hover {
    background-color: #F2f2f2
}


